body,
html {
    height: 100%;
    margin: 0;
}

#sectionwrapper {
    width: 1100px;

}

h1 {
    font-family: 'Tangerine', bold;
    margin-top: 80px;
    font-size: 5em;
    text-align: center;
    margin-bottom: 80px;
}

h2 {
    font-family: 'Tangerine', bold;
    font-size: 3em;
    text-align: center;
    margin-top: -1px;

}



h5 {
    font-family: 'Fredericka the Great', cursive;

    font-size: 4em;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.52);
    margin-right: 90px;
    margin-left: 90px;

}

@media screen and (max-width:550px) {


    h5 {
        font-size: 2em;
        background-color: rgba(0, 0, 0, 0.64);

    }
}

b {
    font-family: 'Tangerine',
        bold;
    font-size: 1.9em;
}

.header img {
    height: 240px;
    width: 240px;
    margin-top: 0;

}

#more {
    display: none;
}

p {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    margin: 20px;
}

/* Menu og header */
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
        url("imgs/large/blade.jpg");

    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.header_text {
    text-align: center;
    position: absolute;
    left: 50%;
    width: 50%;
    transform: translate(-50%, 50%);

    margin-top: -50px;



}

.header_text button {
    padding: 10px 20px;

    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border: none;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    margin-left: 10px;
    color: white;
    font-family: 'Fredericka the Great', cursive;

    margin-top: 10px;

    background-color: rgba(10, 61, 3, 0.73);
}



.header_text button:before,
.header_text button:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #000;
    transition: all 0.3s ease;


}

.header_text button:before {
    height: 0%;
    width: 2px;

}

.header_text button:after {
    width: 0%;
    height: 2px;

}

.header_text button:hover:before {
    height: 100%;

}

.header_text button:hover:after {
    width: 100%;

}

.header a {
    color: #e3ffef;
    text-decoration: none;
    font-size: 2.3em;
}

/** header og menu slut **/

.header p {

    margin-top: 420px;
    text-align: center;
}

.header p a:hover {
    color: #012e01;
}


#myBtn {
    background-color: rgba(0, 100, 0, 0.22);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.31);
}

#myBtn:active {
    background-color: rgb(0, 100, 0);

}


.billede2 {
    background-image: url(imgs/pizza_lang.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px;
}

.billede3 {
    background-image: linear-gradient(rgba(10, 61, 3, 0.2), rgba(1, 46, 1, 0.14)), url(imgs/stole.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px;
}

.billede4 {
    background-image: linear-gradient(rgba(10, 61, 3, 0.2), rgba(1, 46, 1, 0.14)), url(imgs/p.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 40px;
}



@media screen and (min-width:1050px) {


    .section1 {
        display: grid;
        padding-left: 10%;

        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 50px;
        margin-bottom: 50px;

    }
}

@media screen and (max-width:1050px) {


    .section1 img {
        margin-left: 25%;
        margin-bottom: 80px;

    }
}


@media screen and (max-width:700px) {


    .section1 img {
        margin-left: 20%;

    }
}

@media screen and (max-width:550px) {


    .section1 img {
        margin-left: 15%;
    }
}

@media screen and (max-width:500px) {


    .section1 img {
        margin-left: 10%;
    }
}

@media screen and (max-width:465px) {


    .section1 img {
        margin-left: 5%;
    }
}

@media screen and (max-width:436px) {


    .section1 img {
        margin-left: 2.5%;
    }
}

@media screen and (max-width:400px) {


    .section1 img {
        margin-left: 0%;
    }
}

@media screen and (min-width:800px) {


    .billede1 img {
        display: grid;
        margin-top: 0px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin-bottom: 190px;
        margin-right: 100px;

    }
}

@media screen and (min-width:480px) {


    .section2 {
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
        margin-bottom: 100px;

    }
}

@media screen and (max-width:1050px) {


    .section2 {
        display: grid;
        padding-left: 10%;

        margin-top: 100px;
        grid-template-columns: repeat(1, 1fr);

        margin-bottom: 50px;

    }
}


/** Billederne til section 2 -- Indholder @media **/
.billeder_menu1 {
    background-image: url(imgs/k%C3%B8dboller.jpg);
    background-position: center;
    background-size: cover;
}

.billeder_menu2 {
    background-image: url(imgs/maad.jpg);
    background-position: center;
    background-size: cover;
}

.billeder_menu3 {
    background-image: url(imgs/pizzaen.jpg);
    background-position: center;
    background-size: cover;
}

.billeder_menu4 {
    background-image: url(imgs/pannacotta.jpg);
    background-position: center;
    background-size: cover;
}

@media screen and (max-width:1050px) {



    .billeder_menu1 {
        width: 30vh;
        height: 30vh;


    }
}

@media screen and (max-width:1050px) {



    .billeder_menu2 {
        width: 30vh;
        height: 30vh;

    }
}

@media screen and (max-width:1050px) {



    .billeder_menu3 {
        width: 30vh;
        height: 30vh;

    }
}

@media screen and (max-width:1050px) {



    .billeder_menu4 {
        width: 30vh;
        height: 30vh;

    }
}

@media screen and (max-width:500px) {



    .billeder_menu1 {
        width: 20vh;
        height: 20vh;
        float: left;
        margin-left: 30px;


    }
}

@media screen and (max-width:500px) {



    .billeder_menu2 {
        width: 20vh;
        height: 20vh;
        float: right;
        margin-right: 40px;

    }
}

@media screen and (max-width:500px) {



    .billeder_menu3 {
        width: 20vh;
        height: 20vh;
        float: left;
        margin-left: 30px;

    }
}

@media screen and (max-width:500px) {



    .billeder_menu4 {
        width: 20vh;
        height: 20vh;
        float: right;
        margin-right: 40px;

    }
}






@media screen and (min-width:480px) {


    .section3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;

        grid-gap: 1px;


    }
}

.section3 img {
    height: 230px;
    width: 230px;
    margin: 0;

}

@media screen and (min-width:480px) {


    .section4 {
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 70px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 60px;


    }
}

@media screen and (min-width:480px) {


    .section5 {
        display: grid;
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 70px;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 60px;


    }
}



/***** book bord *****/

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    margin-top: 20px;

}



input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Fredericka the Great', cursive;
    border: 1px solid #aaaaaa;
}


input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
    font-size: 1.8em;
    font-family: 'Fredericka the Great', cursive;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}


.step.finish {
    background-color: #024505;
}





* {
    box-sizing: border-box;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #016204;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #004303;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*** Footer ***/
#kontakter article {
    display: grid;
}



.address {
    margin-left: 60px
}

#kontakter article {
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 1fr 100px;
    background-color: rgba(0, 77, 0, 0.13);

}

.txt {
    grid-column: 2 / span 2;
    grid-row: 1;

}

.address {
    grid-column: 2;
    grid-row: 2;
}



.kort {
    text-align: right;
    height: 150px;
    width: 250px;

}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 150px;
    width: 350px;
}

@media screen and (max-width:480px) {


    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 150px;
        width: 150px;


    }
}




footer {
    height: 60px;
    background-color: rgba(1, 54, 1, 0.79);
    margin-top: -20px;
}

footer p {
    font-size: 1.5em;
    text-align: center;

}

footer a {
    color: black;

}

footer i {
    color: black;
    cursor: pointer;
}

footer span {
    font-size: 1em;

}

footer a:hover {
    color: white;
}

footer i:hover {
    color: white;
}

footer small {
    font-size: 0.8em;
    font-family: 'Tangerine', bold;
}

#tilTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: rgba(4, 132, 15, 0.74);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#tilTop:hover {

    color: black;
}
