body,
html {
    height: 100%;
    margin: 0;
    background-color: #ffffff;
}

article {
    padding: 10px;

    cursor: pointer;

}

article:hover {
    background-color: rgba(0, 118, 0, 0.08);

}

.data-container article img {
    width: 100%;
}

.data-container {
    margin: 0 auto;
    display: grid;

}

h1 {
    text-transform: capitalize;
    text-align: center;



}

h3 {
    font-size: 2.5em;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;

}


h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
    font-size: 2em;
    margin-top: 20px;
}

h4 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 5em;
    font-weight: bolder;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
    color: black;
}

p {
    font-size: 1.3em;
}



@media screen and (min-width:580px) {
    .data-container {
        padding-left: 10%;
        padding-right: 10%;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 50px;
    }
}


@media screen and (max-width:414px) {
    .data-container {
        padding-left: 10%;
        padding-right: 10%;
        grid-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
}



/** Modalvinduet er til at starte med skjult**/

#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.88);
    text-align: center;
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
    overflow: scroll;
    transition: 1s;

}

#modal-content {
    width: 50vw;
    background-color: rgb(250, 250, 250);
    margin: auto;
}

/** Hvis modalvinduet får tilføjet en class som hedder "vis", får man det vist frem
når der bliver trykket på den **/

#modal.vis {

    opacity: 1;
    pointer-events: all;
    transition: 0.5s;



}


#modal img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;


}


footer {
    height: 100px;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.14)),
        url("imgs/ost.jpg");
    background-size: auto;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




}

.header_text {

    text-align: center;

}

@media screen and (max-width:782px) {
    .header_text {
        margin-top: -15px;
    }
}

.header_text button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-left: 2px solid #b70000;
    margin-left: 10px;
    color: #ffffff;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1em;
    background-color: rgba(30, 83, 1, 0.75);
}

@media screen and (max-width:782px) {
    .header_text button {
        font-size: 0.8em;
        cursor: pointer;
        border: none;
        margin: 0;


    }
}

.header_text button:hover {
    background-color: rgb(30, 83, 1);
}

.header_text img {
    margin-left: 200px
}

.header a img {
    height: 150px;
    width: 150px;
    color: #000000;
    text-align: justify;

}

.header a:hover {
    color: #007600;
}


/** FOOTER section **/

#kontakter article {
    display: grid;
}

.map {
    place-self: center;
}

.address {
    place-self: center;
}

#kontakter article {
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 1fr 100px;
    background-color: rgba(0, 77, 0, 0.13);
    margin-top: 150px;
}

.txt {
    grid-column: 2 / span 2;
    grid-row: 1;
}

.address {
    grid-column: 2;
    grid-row: 2;
}

.map {
    grid-column: 3;
    grid-row: 2;
}

.kort {
    text-align: right;
    height: 250px;
    width: 350px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 250px;
    width: 350px;
}

footer {
    height: 60px;
    background-color: rgba(1, 54, 1, 0.79);
    margin-top: -30px;
}

footer p {
    font-size: 1.5em;
    text-align: center;

}

footer a {
    color: black;

}

footer i {
    color: black;
    cursor: pointer;
}

footer span {
    font-size: 1em;

}

footer a:hover {
    color: white;
}

footer i:hover {
    color: white;
}

footer small {
    font-size: 0.8em;
    font-family: 'Tangerine', bold;
}

#tilTop {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    background-color: rgba(4, 132, 15, 0.74);
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

#tilTop:hover {

    color: black;
}
