body,
html {
    height: 100%;
    margin: 0;
    background-color: white;
}

article {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(26, 72, 1);
    box-shadow: 5px 10px rgba(136, 136, 136, 0.35);
    cursor: pointer;

}

article:hover {
    background-color: rgba(0, 0, 0, 0.13);

}

.data-container article img {
    width: 100%;
}

.data-container {
    margin: 0 auto;
    display: grid;

}

h1 {
    text-transform: capitalize;
    text-align: center;



}

h3 {
    font-size: 2.5em;
    margin-top: 170px;
    font-family: 'Fredericka the Great', cursive;

}

h2 {
    font-family: 'Fredericka the Great', cursive;
    font-weight: 400;
}

h4 {
    font-family: 'Tangerine', bold;
    font-size: 7em;
    font-weight: bolder;
    text-align: center;
    margin-top: -150px;
    margin-bottom: 50px;
    color: black;


}



@media screen and (min-width:580px) {
    .data-container {
        padding-left: 10%;
        padding-right: 10%;
        grid-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 100px;
    }
}

#modal {
    width: 100vw;

    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
    overflow: scroll;
    transition: 1s;

}

#modal-content {
    width: 50vw;
    height: 70vh;
    background-color: rgb(250, 250, 250);
    margin: auto;
}

#modal.vis {

    opacity: 1;
    pointer-events: all;
    transition: 0.5s;
    height: 700px;
    margin-top: -300px;
}


#modal img {
    height: 50vw;
    width: 50vw;
    margin-top: -35px;
    object-fit: scale-down;
}

#modal button {
    font-size: 1em;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;

}

footer {
    height: 100px;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.14)),
        url("imgs/mad.jpg");
    background-size: auto;
    height: 60%;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;



}

.header_text {
    text-align: center;
    position: relative;
    left: 50%;
    width: 60%;
    transform: translate(-50%, 50%);

    margin-top: 0px;
}

.header_text button {
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    border: none;
    border-left: 2px solid #b70000;
    margin-left: 10px;
    color: #ffffff;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1em;
    background-color: rgba(30, 83, 1, 0.75);


}
